<form [formGroup]="loginForm">
    <mat-card class="login">
        <mat-card-header>
            <mat-card-title>{{'admin.login' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="username" placeholder="{{'admin.username' | translate}}">
                        <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">{{alerts.getRequiredErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <input matInput type="password" formControlName="password" placeholder="{{'admin.password' | translate}}">
                        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">{{alerts.getRequiredErrorMessage()}}</mat-error>
                        <mat-error *ngIf="loginForm.controls['password'].errors?.['minlength']">{{getMinLengthErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onSubmit()" mat-raised-button color="primary">{{'form.save' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</form>