<form [formGroup]="partnerForm">
    <mat-card class="partner">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="name" placeholder="Name">
                        <mat-error *ngIf="partnerForm.controls['name'].errors?.['required']">{{alerts.getRequiredErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onSubmit()" mat-raised-button color="primary">{{'form.save' | translate }}</button>
            <button (click)="onCancel()" mat-raised-button color="primary">{{'form.cancel' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</form>