    <table mat-table [dataSource]="operations" class="mat-elevation-z8 historyTable">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> {{'history.date' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.operationDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="incomeSum">
            <th mat-header-cell *matHeaderCellDef> {{'history.income' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.sum >=0 ? element.sum : "" }} </td>
        </ng-container>
        <ng-container matColumnDef="expenseSum">
            <th mat-header-cell *matHeaderCellDef> {{'history.expense' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.sum <0 ? -element.sum : ""}} </td>
        </ng-container>
        <ng-container matColumnDef="partner">
            <th mat-header-cell *matHeaderCellDef> {{'history.partner' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.partnerName}} </td>
        </ng-container>
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> {{'history.comments' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell  *matHeaderCellDef ></th>
            <td mat-cell *matCellDef="let element" >
                <a *ngIf="this.currentUser.hasRole('ROLE_ADMIN')" (click)="deleteItem(element)">
                    <mat-icon style="cursor:pointer;">delete</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
