<nav>
  <ul>
    <li *ngIf="!this.currentUser.isLoggedIn() && this.router.url != '/login'"><a routerLink="/login" routerLinkActive="active">{{'admin.login' | translate }}</a></li>
    <li *ngIf="this.currentUser.isLoggedIn() && this.router.url != '/login'"><a routerLink="/logout" routerLinkActive="active">{{'admin.logout' | translate }}</a></li>
    <li *ngIf="this.router.url != '/'"><a routerLink="/" routerLinkActive="active">{{'summary.title' | translate }}</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>