<form [formGroup]="operationForm">
<div class="row">
<mat-form-field>
  <mat-label>{{'operation.partner' | translate}}</mat-label>
  <mat-select formControlName="partner">
    <mat-option *ngFor="let partner of partners" [value]="partner.iri">
      {{partner.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="operationForm.controls['partner'].errors?.['required']">{{alerts.getRequiredErrorMessage()}}</mat-error>
</mat-form-field>
</div>
<div class="row">
<mat-form-field>
  <mat-label>{{'operation.operation' | translate}}</mat-label>
  <select matNativeControl required formControlName="operationType">
	<option value="2">{{'operation.spent' | translate}}</option>
	<option value="1">{{'operation.got' | translate}}</option>
  </select>
</mat-form-field>
</div>
<div class="row">
<mat-form-field>
  <mat-label>{{'history.date' | translate}}</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="operationDate">
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div>
<div class="row">
<mat-form-field>
    <mat-label>{{'operation.sum' | translate}}</mat-label>
    <input matInput formControlName="sum" min="0">
    <mat-error *ngIf="operationForm.controls['sum'].errors?.['required']">{{alerts.getRequiredErrorMessage()}}</mat-error>
 </mat-form-field>
</div>
<div class="row">
  <mat-form-field>
    <mat-label>{{'operation.comment' | translate}}</mat-label>
    <textarea matInput formControlName="comments"></textarea>
  </mat-form-field>
</div>
<div class="row">
	<button (click)="onSubmit()" mat-raised-button color="primary">{{'form.save' | translate }}</button>
</div>
</form>