<mat-card class="summary">
    <mat-card-title-group>
        <mat-card-title>{{'summary.title' | translate}}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <table class="mat-table" >
            <tr class="mat-row">
                <td class="summaryTable">{{'summary.totalPartners' | translate}}</td>
                <td class="summaryTableGrey">{{summary.totalPartners}}</td>
                <td class="summaryTableButton">
                    <a *ngIf="this.currentUser.hasRole('ROLE_ADMIN')" mat-icon-button color="accent" title="{{'summary.addPartner' | translate}}" (click)="addPartner()">
                        <mat-icon class="plusIcon">add</mat-icon>
                    </a>
                </td>
                <td class="summaryTable" colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr class="mat-row">
                <td class="summaryTable">{{'summary.totalIncome' | translate}}</td>
                <td class="summaryTableGrey">{{summary.totalIncome}}</td>
                <td class="summaryTableButton">
                    <a *ngIf="this.currentUser.hasRole('ROLE_ADMIN')" mat-icon-button  color="accent" title="{{'summary.addIncome' | translate}}"  (click)="addOperation()">
                        <mat-icon class="plusIcon">add</mat-icon>
                    </a>
                </td>
                <td class="summaryTable">{{'summary.totalExpenses' | translate}}</td>
                <td class="summaryTableGrey">{{summary.totalExpenses}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<br/>
<mat-tab-group style="width: 850px">
    <mat-tab label="{{'summary.balance' | translate}}">
        <app-partner-balance [balance]="balance"></app-partner-balance>
    </mat-tab>
    <mat-tab label="{{'summary.operations' | translate}}">
        <app-history [reloadOperations]="reloadOperations" (operationDeleted) ="reloadSummary()" ></app-history>
    </mat-tab>
</mat-tab-group>