.summary {
  max-width: 800px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.summaryTable {
  padding : 4px;
  min-width: 200px
}

.summaryTableGrey {
  padding-top : 4px;
  padding-left : 12px;
  padding-right : 12px;
  background-color : #cfcfcf;
  text-align : right;
}

.summaryTableButton {
  padding-left : 12px;
  padding-right : 12px;
  padding-right : 29px;
}
